.inputStyles {
  border-color: #707070;
  @apply w-full rounded p-3.5 mt-3 mb-3 border
}

.buttonStyles {
  background-color: #FF8000;
  color: #FFF;
  @apply text-3xl p-3.5 rounded
}

.textStyles {
  @apply text-2xl font-black mb-0.5 lg:w-auto lg:text-3xl lg:mb-3.5
}

.navBarStyles {
  flex: 1;
  @apply flex border-b bg-white flex-shrink-0 items-center justify-center lg:justify-start
}

.containerStyles {
  flex: 9;
  @apply flex flex-col justify-center items-center p-3.5
}

@media screen and (min-width: 1024px) {
  .inputStyles {
    width: 568px;
    height: 65px;
    font-size: 1.25rem;
  }
  .buttonStyles {
    width: 244.53px;
    height: 85px;
  }
}

.c {
  flex: 1 4;
}