.inputStyles {
  border-color: #707070;
  @apply rounded p-3.5 m-3 ml-0 mr-0 w-full border
}

@media screen and (min-width: 1024px) {
  .inputStyles {
    width: 568px;
    height: 65px;
    font-size: 1.25rem;
  }
}