input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.inputStyles {
  border-color: #707070;
  @apply w-full rounded p-3.5 mt-1.5 mb-1.5 border
}

.textStyles {
  @apply text-2xl font-black mb-0.5 lg:w-auto lg:text-3xl lg:mb-3.5
}

.buttonStyles {
  background-color: #FF8000;
  color: #FFF;
  @apply text-3xl p-2.5 mt-3 pl-10 pr-10 rounded
}

.navBarStyles {
  flex: 1;
  @apply flex border-b bg-white flex-shrink-0 items-center justify-center lg:justify-start
}

.formStyles {
  @apply w-full lg:w-auto
}

.formStyles:nth-last-child(2) {
  width: 422px !important;
}

.containerStyles {
  flex: 9;
  @apply flex flex-col justify-center items-center p-3.5
}

@media screen and (min-width: 1024px) {
  .inputStyles {
    width: 860px;
    height: 65px;
    font-size: 1.25rem;
  }
  .buttonStyles {
    width: 206.53px;
    height: 85px;
  }
  .c .inputStyles {
    width: 422px;
    @apply flex-1
  }

  .c .inputStyles:first-child {
    margin-right: 1rem;
  }
}
